*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  opacity: 100%;
}
header ul{
  border: 0px solid white;
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
}
header ul li{
  border: 0px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{width: 120px;}
.menu2{width: 725px;}
.menu3{width: 120px;}

.categ{
  z-index: 900;
  position: fixed;
  border: 0px solid red;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  opacity: 100%


}

.poster{
  border: 0px solid red;
  position: relative;
  width: 83px;
  height: 30x;
  right: 100px;
  top: 42px;
}
.brochure{
  border: 0px solid red;
  position: relative;
  width: 118px;
  height: 30x;
  right: 50px;
  top: 42px;
}
.web{
  border: 0px solid red;
  position: relative;
  width: 47px;
  height: 30x;
  top: 42px;
}
.uiux{
  border: 0px solid red;
  position: relative;
  width: 69px;
  height: 30x;
  left: 50px;
  top: 42px;
}
.prom{
  border: 0px solid red;
  position: relative;
  width: 138px;
  height: 30x;
  left: 100px;
  top: 42px;
}

.poster1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
}
.myhometown{
  border: 0px solid red;
  position: relative;
  right: 360px;
  top: 152px;
}
.myhometowninfo{
  border: 0px solid red;
  position: relative;
  left: 345px;
  top: 125px;
}
.myhometown1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myhometown2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brochure1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.sensualb{
  border: 0px solid red;
  position: relative;
  right: 360px;
  top: 105px;
}
.sbinfo{
  border: 0px solid red;
  position: relative;
  left: 345px;
  top: 85px;
}
.sb1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
}
.aomg{
  border: 0px solid red;
  position: relative;
  right: 480px;
  top: 93px;
}
.aomginfo{
  border: 0px solid red;
  position: relative;
  left: 465px;
  top: 85px;
}
.aomg1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aomg2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web2{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.mj{
  border: 0px solid red;
  position: relative;
  right: 285px;
  top: 105px;
}
.mjinfo{
  border: 0px solid red;
  position: relative;
  left: 265px;
  top: 97px;
}
.mj1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mj2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uiux1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.dr{
  border: 0px solid red;
  position: relative;
  right: 410px;
  top: 105px;
}
.drinfo{
  border: 0px solid red;
  position: relative;
  left: 395px;
  top: 88px;
}
.dr1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr3{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prom1{

  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.onkawara{
  border: 0px solid red;
  position: relative;
  right: 180px;
  top: 105px;
}
.okinfo{
  border: 0px solid red;
  position: relative;
  left: 170px;
  top: 88px;
}
.ok1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ok2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ok3{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prom2{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.teamlab{
  border: 0px solid red;
  position: relative;
  right: 300px;
  top: 105px;
}
.teaminfo{
  border: 0px solid red;
  position: relative;
  left: 285px;
  top: 88px;
}
.team1{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team3{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team4{
  background-color: black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under1{
  border: 0px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.design{
  border: 0px solid red;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 50px;
}
.contact{
  border: 0px solid red;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 150px;
  right: 100px;
}

.fin{
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.copy{
  border: 0px solid red;
  position: relative;
  width: 360px;
  height: 22px;
  top: 10px;
}

html{
  scroll-behavior: smooth;
}
