*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  opacity: 100%;
}
header ul{
  border: 0px solid white;
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
}
header ul li{
  border: 0px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{width: 120px;}
.menu2{width: 725px;}
.menu3{width: 120px;}


.main{
  background-color: black;
  width: 100%;
  height: 435px;
  display: flex;
  justify-content: center;
}
.contact{
  border: 0px solid yellow;
  position: relative;
  width: 740px;
  height: 195px;
  right: 145px;
  top: 282px;
}
.songejin{
  border: 0px solid yellow;
  position: relative;
  width: 195px;
  height: 40px;
  left: 125px;
  top: 403px;
}

.info{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 453px;
}
.text{
  border: 0px solid red;
  position: relative;
  justify-content: center;
  top: 50px;
  right: 240px;
}

.fin{
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.copy{
  border: 0px solid red;
  position: relative;
  width: 360px;
  height: 22px;
  top: 10px;
}

html{
  scroll-behavior: smooth;
}
